@use "sass:map";
@use "sass:color";

.member {
	$private: #5f98b6;
	$studio: #b49056;
	$standing: #7a5fab;
	$desk: #667c59;
	$partition: #9f5879;
	$drawer: #818181;
	$flex: #913131;

	$private-dark: color.scale($private, $lightness: -40%);
	$studio-dark: color.scale($studio, $lightness: -40%);
	$standing-dark: color.scale($standing, $lightness: -40%);
	$desk-dark: color.scale($desk, $lightness: -40%);
	$partition-dark: color.scale($partition, $lightness: -40%);
	$drawer-dark: color.scale($drawer, $lightness: -40%);
	$flex-dark: color.scale($flex, $lightness: -40%);
	--bfl-hazy-tint: #ffebebff;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 20rem));
	column-gap: 2rem;
	row-gap: 3rem;
	margin: 0 0 4rem 0;

	> .card {
		background-color: var(--bfl-glare);
		display: flex;
		flex-direction: column;
		border: 1px solid var(--bfl-plaster);
		align-items: center;
		position: relative;
		transition: all ease-in-out 0.3s;
		border-radius: 1rem;

		&.bulb {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMjEgMjcnIHdpZHRoPScyMScgaGVpZ2h0PScyNycgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBzdHJva2UtbWl0ZXJsaW1pdD0nMicgcHJlc2VydmVBc3BlY3RSYXRpbz0nbm9uZSc+PHBhdGggZmlsbD0nI2YxZjFmMWZmJyBkPSdNMTIuMzMzLjA3OEM1LjM4OC0uNjU2IDIuMTkxIDMuOTgzLjgxOCA3LjEzNGMtMi40NzMgNi41NTggMS4yMzkgMTAuMTEyIDMuNDg3IDEwLjg2IDEuMjQ0LjU4NSAyLjQ4OS0xLjAzNy45ODMtMi4xNC0xLjUwNy0xLjEwMy00LjE5NS0zLjk0Ny0xLjczOC04LjcyaC0uMDAxYzEuNjQ2LTIuNzcyIDQuMjM1LTUuNTY3IDkuMDY0LTQuNzU0IDYuODIxIDEuMTQ5IDUuMjQ5IDEwLjc1IDEuNTY0IDEzLjczLTIuNzQ1IDIuMTk2LTcuMDg1IDMuMDg0LTkuNTE2IDMuNTczLTIuNDMuNDg4LTEuNjA2IDEuNjQuMzM4IDIuMTQzbDEuOTQzLjUwMnMtMy4zNDEtLjAzNy0zLjI5MiAxLjMxNmMuMDQ5IDEuMzU0IDMuNDI1IDEuOTU5IDUuMzc2IDIuMzMgMS45NTEuMzcgMy4yNDItLjg3LjY0My0xLjQxLTIuNi0uNTM3LTIuMzgyLS44NS0uMzY0LS45MzEgMi4wMTktLjA4MSAzLjQxMi0xLjEzLjU3Ny0xLjkzbC0yLjgzNS0uOHM3LjgzOS0uNzIgMTAuODMyLTUuNzhjMi45OTItNS4wNTcgNC4zNzYtMTMuOTk3LTUuNTQ2LTE1LjA0NXonIC8+PC9zdmc+");
			background-repeat: no-repeat;
			background-position: bottom 5.5rem right -1.5rem;
			background-size: 20%;
			position: relative;
			z-index: 1;
		}

		&:hover {
			background-color: var(--bfl-plaster);
			box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);

		}

		&.hide {
			display: none;
		}

		&:focus-within {
			box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
			transition: 0.5s all;
		}

		> .header {
			width: 100%;
			border-radius: 1rem 1rem 0 0;
			display: flex;
			flex-direction: column;

			> .unit-desc {
				color: var(--bfl-basic-white);
				text-align: center;
				line-height: 1.2;
				font-size: 1.6rem;
				padding: 1rem 0.5rem;
				margin-bottom: 0;
				text-transform: capitalize;
			}

			.cost-extra {
				text-align: center;
				font-style: italic;
			}

			&.office {
				background: linear-gradient(60deg, $private, $private-dark);
			}

			&.coworking {
				background: linear-gradient(60deg, $studio, $studio-dark);
			}

			&.maker {
				background: linear-gradient(60deg, $standing, $standing-dark);
			}

			&.supporter {
				background: linear-gradient(60deg, $desk, $desk-dark);
			}

		}

		> .body {
			display: flex;
			flex-direction: column;
			justify-items: center;
			align-items: center;
			padding: 0.9rem;
			position: relative;

			.unit-name {
				padding: 0 0 1rem 0;
				letter-spacing: 0.005rem;
				font-size: 1.3rem;
				text-transform: uppercase;
			}

			.description {
				position: relative;
			}
		}

		> .footer {
			padding: 0 0 2rem 0;
			margin-top: auto;
			display: flex;
			justify-content: center;
			width: 100%;

			.cta-btn {
				background: var(--bfl-primary);
				border-radius: 8px;
				box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
				color: var(--bfl-basic-white);
				font-size: 1rem;
				padding: 0.5rem 1.2rem;
				transition: all 0.3s ease-in-out;
				position: relative;

				&:hover {
					background: var(--bfl-primary-hover);
					transition: background-color ease-in-out 0.3s;
					color: var(--bfl-basic-white);
				}

				&:focus {
					text-decoration: underline;
					outline: var(--bfl-blue-tint);
					color: var(--bfl-basic-white);
				}

				&:focus-within {
					box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.7);
					transition: 0.5s all;
					color: var(--bfl-basic-white);
				}
			}

			.cta-link {
				font-size: small;
				white-space: nowrap;
				color: var(--bfl-primary);
				//padding: 0 0.5rem 0 0.75rem;
				background: rgba(255, 255, 255, 0.7);
				border-radius: 0 1rem 0 0.5rem;
				line-height: initial;
				position: absolute;
				rotate: 90deg;
				right: -1.4rem;
				bottom: 1.6rem;
				padding: 0.5rem 1rem 0.5rem 0.5rem;
				text-align: right;
				letter-spacing: 1px;

				&:hover {
					color: var(--bfl-primary-hover);
					border-bottom: 2px dotted var(--bfl-primary-hover);
					background-color: var(--bfl-basic-white);
				}
			}

		}

	}
}

@media screen and (max-width: 768px) {

	.member {
		grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	}

	// adjust position for background image
	#ajax-content-wrap > .wp-block-qubely-row.qubely-section {
		background-position: left 20%  center !important;
	}
}
