@use "sass:map";
@use "sass:color";

.member {
	$private: #5f98b6;
	$studio: #b49056;
	$standing: #7a5fab;
	$desk: #667c59;
	$partition: #9f5879;
	$drawer: #818181;
	$flex: #913131;

	$private-dark: color.scale($private, $lightness: -40%);
	$studio-dark: color.scale($studio, $lightness: -40%);
	$standing-dark: color.scale($standing, $lightness: -40%);
	$desk-dark: color.scale($desk, $lightness: -40%);
	$partition-dark: color.scale($partition, $lightness: -40%);
	$drawer-dark: color.scale($drawer, $lightness: -40%);
	$flex-dark: color.scale($flex, $lightness: -40%);
	--bfl-hazy-tint: #ffebebff;


	$bulb: "data:image/svg+xml,%3Csvg viewBox='0 0 21 27' xmlns='http://www.w3.org/2000/svg' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath fill='#f1f1f1ff' d='M12.333.078C5.388-.656 2.191 3.983.818 7.134c-2.473 6.558 1.239 10.112 3.487 10.86 1.244.585 2.489-1.037.983-2.14-1.507-1.103-4.195-3.947-1.738-8.72h-.001c1.646-2.772 4.235-5.567 9.064-4.754 6.821 1.149 5.249 10.75 1.564 13.73-2.745 2.196-7.085 3.084-9.516 3.573-2.43.488-1.606 1.64.338 2.143l1.943.502s-3.341-.037-3.292 1.316c.049 1.354 3.425 1.959 5.376 2.33 1.951.37 3.242-.87.643-1.41-2.6-.537-2.382-.85-.364-.931 2.019-.081 3.412-1.13.577-1.93l-2.835-.8s7.839-.72 10.832-5.78c2.992-5.057 4.376-13.997-5.546-15.045z' /%3E%3C/svg%3E";

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax( 18rem, 20rem));
	column-gap: 2rem;
	justify-content: center;
	row-gap: 3rem;
	margin: 0 0 4rem 0;

	> .card {
		background-color: var(--bfl-glare);
		display: flex;
		flex-direction: column;
		border: 1px solid var(--bfl-plaster);
		align-items: center;
		position: relative;
		transition: all ease-in-out 0.3s;
		border-radius: 1rem;

		&.bulb {
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 27' xmlns='http://www.w3.org/2000/svg' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath fill='%23f1f1f1ff' d='M12.333.078C5.388-.656 2.191 3.983.818 7.134c-2.473 6.558 1.239 10.112 3.487 10.86 1.244.585 2.489-1.037.983-2.14-1.507-1.103-4.195-3.947-1.738-8.72h-.001c1.646-2.772 4.235-5.567 9.064-4.754 6.821 1.149 5.249 10.75 1.564 13.73-2.745 2.196-7.085 3.084-9.516 3.573-2.43.488-1.606 1.64.338 2.143l1.943.502s-3.341-.037-3.292 1.316c.049 1.354 3.425 1.959 5.376 2.33 1.951.37 3.242-.87.643-1.41-2.6-.537-2.382-.85-.364-.931 2.019-.081 3.412-1.13.577-1.93l-2.835-.8s7.839-.72 10.832-5.78c2.992-5.057 4.376-13.997-5.546-15.045z' /%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: bottom 5.5rem right -1.5rem;
			background-size: 4rem;
			position: relative;
			z-index: 1;
		}

		&:hover {
			background-color: var(--bfl-plaster);
			box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);

		}

		&.hide {
			display: none;
		}

		&:focus-within {
			box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
			transition: 0.5s all;
		}

		> .header {
			width: 100%;
			border-radius: 1rem 1rem 0 0;
			display: flex;
			flex-direction: column;

			> .unit-desc {
				color: var(--bfl-basic-white);
				text-align: center;
				line-height: 1.2;
				font-size: 1.6rem;
				padding: 1rem 0.5rem;
				margin-bottom: 0;
				text-transform: capitalize;
			}

			.cost-extra {
				text-align: center;
				font-style: italic;
			}

			&.office {
				background: linear-gradient(60deg, $private, $private-dark);
			}

			&.coworking {
				background: linear-gradient(60deg, $studio, $studio-dark);
			}

			&.maker {
				background: linear-gradient(60deg, $standing, $standing-dark);
			}

			&.supporter {
				background: linear-gradient(60deg, $desk, $desk-dark);
			}

		}

		> .body {
			display: flex;
			flex-direction: column;
			justify-items: center;
			align-items: center;
			padding: 0.9rem;
			position: relative;

			.unit-name {
				padding: 0 0 1rem 0;
				letter-spacing: 0.005rem;
				font-size: 1.3rem;
				text-transform: uppercase;
			}

			.description {
				position: relative;
			}
		}

		> .footer {
			padding: 0 0 2rem 0;
			margin-top: auto;
			display: flex;
			justify-content: center;
			width: 100%;

			.cta-btn {
				background: var(--bfl-primary);
				border-radius: 8px;
				box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
				color: var(--bfl-basic-white);
				font-size: 1rem;
				padding: 0.5rem 1.2rem;
				transition: all 0.3s ease-in-out;
				position: relative;

				&:hover {
					background: var(--bfl-primary-hover);
					transition: background-color ease-in-out 0.3s;
					color: var(--bfl-basic-white);
				}

				&:focus {
					text-decoration: underline;
					outline: var(--bfl-blue-tint);
					color: var(--bfl-basic-white);
				}

				&:focus-within {
					box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.7);
					transition: 0.5s all;
					color: var(--bfl-basic-white);
				}
			}

			.cta-link {
				font-size: small;
				white-space: nowrap;
				color: var(--bfl-primary);
				//padding: 0 0.5rem 0 0.75rem;
				background: rgba(255, 255, 255, 0.7);
				border-radius: 0 1rem 0 0.5rem;
				line-height: initial;
				position: absolute;
				rotate: 90deg;
				right: -1.4rem;
				bottom: 1.6rem;
				padding: 0.5rem 1rem 0.5rem 0.5rem;
				text-align: right;
				letter-spacing: 1px;

				&:hover {
					color: var(--bfl-primary-hover);
					border-bottom: 2px dotted var(--bfl-primary-hover);
					background-color: var(--bfl-basic-white);
				}
			}

		}

	}
}

@media screen and (max-width: 768px) {
	.member {
		grid-template-columns: repeat(auto-fit, minmax( 18rem, 1fr));
	}
}
